<a href="https://colab.research.google.com/github/G-Polya/ML/blob/master/Python_Programming_%EA%B8%B0%EC%B4%884~5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 컬렉션 타입의 이해

### 리스트 & 튜플
- 복수개의 값을 담을 수 있는 데이터 구조
- 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
- list - mutable(생성된 후에 변경 가능)
- tuple - immutable(생성된 후에 변경 불가능)

### 리스트 초기화
- [] 안에 값을 담아서 생성
- list() 함수로 생성
- str.split()함수로 생성

In [3]:
a = []
print(a)

[]

In [5]:
a = [1,2,3,5,10]
print(a)

[1, 2, 3, 5, 10]

In [0]:
a = ['korea', 'canada',1,23,[34,56]] # 원소가 5개인 리스트

- list() 함수
 - 다른 데이터 타입을 리스트로 변환할 때도 사용

In [8]:
a = 'hello world'
b = list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

- string split함수
 - 구분자로 구분되는 리스트를 반환(빈번히 사용됨)

In [9]:
a = 'hello world nice weather'
b = a.split()

print(b)

['hello', 'world', 'nice', 'weather']

### 리스트 indexing
- 문자열의 인덱싱과 동일하게 동작
- [] 연산자를 이용하여 항목 얻어오기
- [i] - i번째 원소를 반환
- i가 음수인 경우도 가능하여 마지막 원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [11]:
a = [1,2,3,4,5,6]
print(a[2])
print(a[5],a[-1])

3
6 6

### 리스트 개별 아이템에 접근
- 인덱스에 접근하여 값을 업데이트 가능

In [13]:
# 문자열은 불변(immutable) 객체
a = 'hello world'
print(a[0])

b = 'jello world'
c = 'j' + a[1:]

print(a.replace('h','j')) # replace함수는 a를 변화시키지 않고 새로운 문자열을 반환
print(a)
print(b,c)

h
jello world
hello world
jello world jello world

In [14]:
#리스트는 mutable 객체
a = [1,2,3,4,5]
a[0] = 100

print(a)

[100, 2, 3, 4, 5]

### 리스트 slicing
- 문자열 슬라이싱과 동일하게 동작
- 슬라이싱의 결과 역시 list

In [17]:
a = [1,2,3,4,5,6,7,8]
print(a[4:7])
print(a[:7])
print(a[3:])

# slicing
# start:end:increment

a[1:7:2] # increment는 건너뛰는 숫자의 크기

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]

[2, 4, 6]

## list 멤버함수
- 생성된 리스트 객체에 동작하는 함수


- append()
 - 리스트의 끝에 항목을 추가함

In [18]:
a = [1,2,3,4,5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

- extend()
 - 리스트를 연장
 - +=로도 가능함

In [23]:
a = [1,2,3,4,5]
b =[6,7,8,9,10]

# [ 1,2,3,4,5,6,7,8,9,10]

# a.append(b)
# print(a)
# print(a[5])

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- insert()로 항목추가
 - 리스트의 원하는 위치에 추가 가능
 - 앞에 인덱스, 뒤에 아이템을 명시

In [25]:
a = [1,3,4,5,6]
a.insert(1, 40)

print(a)

[1, 40, 3, 4, 5, 6]

- remove()
 - 값으로 항목 삭제

In [28]:
a = [1,2,3,4,5]
a.remove(2)

print(a)

[1, 3, 4, 5]

- pop()

 - 지우고자 하는 아이템을 반환 후, 삭제. 인덱스를 명시하지 않으면 가장 마지막에 해당하는 원소를 반환 후 삭제

In [31]:
a = [1,2,3,4,5]
a.pop(1)

print(a)

[1, 3, 4, 5]

- index()
 - 찾고자 하는 값의 인덱스 반환

In [32]:
a = [2,6,7,9,10]
a.index(9)

3

- in 키워드
 - 리스트 내에 해당 값이 존재하는지 확인
 - value in [list]
 - True, False 중 한가지로 반환

In [33]:
a = [1,2,3,4,5,10]
b = 7

c = b in a
print(c)

False

- list 정렬
 - sort() -> 리스트 자체를 내부적으로 정렬
 - sorted() -> 리스트의 정렬된 복사본을 반환

In [42]:
a = [9,10,7,19,1,2,20,21,7,8]
a.sort(reverse = True) # reverse = True : 내림차순, reverse = False : 오름차순

b = sorted(a,reverse = False)

print(a)
print(b)

[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]