In [1]:
import numpy as np

In [2]:
a1 = np.arange(10)
print(a1)
print(a1.shape)

[0 1 2 3 4 5 6 7 8 9]
(10,)

In [3]:
a2 = np.arange(0,10,2)
print(a2)

[0 2 4 6 8]

In [4]:
a3 = np.zeros(5)
print(a3)
print(a3.shape)

[0. 0. 0. 0. 0.]
(5,)

In [5]:
a4 = np.zeros((2,3))
print(a4.shape)

(2, 3)

In [6]:
print(a4)

[[0. 0. 0.]
 [0. 0. 0.]]

In [7]:
a5 = np.full((2,3),8)
print(a5)

[[8 8 8]
 [8 8 8]]

In [8]:
a6 = np.eye(4)
print(a6)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [9]:
a7 = np.random.random((2,4))
a7

array([[0.59792885, 0.06925272, 0.26689578, 0.79529206],
       [0.70682085, 0.02288107, 0.16189939, 0.95693769]])

In [10]:
list1 = [1,2,3,4,5]
r1 = np.array(list1)
print(r1)

[1 2 3 4 5]

In [11]:
print(r1[0])
print(r1[1])
list2 = [6,7,8,9,0]
r2 = np.array([list1,list2])
print(r2)

1
2
[[1 2 3 4 5]
 [6 7 8 9 0]]

In [12]:
print(r2.shape)
print(r2[0,0])
print(r2[0,1])
print(r2[1,0])
list1 = [1,2,3,4,5]
r1 = np.array(list1)
print(r1[[2,4]])

(2, 5)
1
2
6
[3 5]

In [13]:
print(r1 > 2)
print(r1[r1>2])
nums = np.arange(20)
print(nums)
odd_nums = nums[nums % 2 != 0]
print(odd_nums)

[False False  True  True  True]
[3 4 5]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[ 1  3  5  7  9 11 13 15 17 19]

In [14]:
x2 = np.array([[1,2,3],
               [4,5,6]])
y2 = np.array([[7,8],[9,10],[11,12]])
print(np.dot(x2,y2))

[[ 58  64]
 [139 154]]

In [15]:
a = np.array([(1,2,3),(4,5,6),(7,8,9)])
print(a)

print(a.cumsum())
print(a.cumsum(axis=0))
print(a.cumsum(axis = 1))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[ 1  3  6 10 15 21 28 36 45]
[[ 1  2  3]
 [ 5  7  9]
 [12 15 18]]
[[ 1  3  6]
 [ 4  9 15]
 [ 7 15 24]]

In [16]:
ages =np.array([34,12,37,5,13])

sorted_ages = np.sort(ages)
print(ages)
print(sorted_ages,type(sorted_ages))

ages.sort()
print(ages,type(ages))

[34 12 37  5 13]
[ 5 12 13 34 37] <class 'numpy.ndarray'>
[ 5 12 13 34 37] <class 'numpy.ndarray'>

In [17]:
a = np.array([[1,2,3,4,5],
              [4,5,6,7,8],
              [9,8,7,6,5]])
print(a)

b1 = a[1:3,:3]
print(b1)

[[1 2 3 4 5]
 [4 5 6 7 8]
 [9 8 7 6 5]]
[[4 5 6]
 [9 8 7]]

In [18]:
b2 = a[-2:,-2:]
print(b2)

[[7 8]
 [6 5]]

In [19]:
b3 = a[1:,2:]
print(b3)

[[6 7 8]
 [7 6 5]]

In [20]:
b3 = a.copy()
print(b3)

b4 = a[1:,2:]
b4[0,2] = 88
print(b4)
print(a)

[[1 2 3 4 5]
 [4 5 6 7 8]
 [9 8 7 6 5]]
[[ 6  7 88]
 [ 7  6  5]]
[[ 1  2  3  4  5]
 [ 4  5  6  7 88]
 [ 9  8  7  6  5]]

In [21]:
b4 = a[2:,:]
print(b4)
print(b4.shape)

[[9 8 7 6 5]]
(1, 5)

In [22]:
x = np.array([2,3])
y = np.array([4,2])
z = x + y 
print(z)

names = np.array(["Ann","Joe","Mark"])
heights = np.array([1.5,1.78,1.6])
weights = np.array([65,46,59])

bmi = weights/heights ** 2
print(bmi)

print("Overweight : ",names[bmi>25])
print("Underweight : ",names[bmi< 18.5])
print("Healty : ",names[(bmi>= 18.5) & (bmi <= 25)])

[6 5]
[28.88888889 14.51836889 23.046875  ]
Overweight :  ['Ann']
Underweight :  ['Joe']
Healty :  ['Mark']

In [23]:
import pandas as pd
series = pd.Series([1,2,3,4,5])
print(series)

series = pd.Series([1,2,3,4,5],index=['a','b','c','d','c'])
print(series)

print(series[2])
print(series.iloc[2])

print(series["d"])
print(series.loc["d"])

print(series[2:])
print(series.iloc[2:])

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
d    4
c    5
dtype: int64
3
3
4
4
c    3
d    4
c    5
dtype: int64
c    3
d    4
c    5
dtype: int64

In [24]:
dates1 = pd.date_range("20190525",periods = 12)
print(dates1)

series = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12])
series.index = dates1
print(series)

DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-01',
               '2019-06-02', '2019-06-03', '2019-06-04', '2019-06-05'],
              dtype='datetime64[ns]', freq='D')
2019-05-25     1
2019-05-26     2
2019-05-27     3
2019-05-28     4
2019-05-29     5
2019-05-30     6
2019-05-31     7
2019-06-01     8
2019-06-02     9
2019-06-03    10
2019-06-04    11
2019-06-05    12
Freq: D, dtype: int64

In [25]:
df = pd.DataFrame(np.random.randn(10,4),columns=list("ABCD"))
print(df)

df.to_csv("data.csv",index = False)

          A         B         C         D
0  0.939120 -0.510468  0.777742  0.338561
1  1.175150 -1.944394 -0.555647 -0.029986
2 -2.145523 -0.444826 -0.323754  0.447627
3  1.044843  0.351954 -0.696066  1.042764
4  0.845787  0.103135  0.067072  0.073396
5  1.348623 -0.252894  1.278587 -0.221836
6  0.696398  1.335609 -0.060052  0.392696
7 -0.341848 -1.014179 -0.799671 -1.022143
8  0.980386  2.128926 -2.593222 -0.052735
9 -1.083067  0.643600 -0.242875 -0.471142

In [27]:
df = pd.read_csv("data.csv")
days = pd.date_range("20190525",periods = 10)
df.index = days
print(df)
print(df.index)
print(df.values)

                   A         B         C         D
2019-05-25  0.939120 -0.510468  0.777742  0.338561
2019-05-26  1.175150 -1.944394 -0.555647 -0.029986
2019-05-27 -2.145523 -0.444826 -0.323754  0.447627
2019-05-28  1.044843  0.351954 -0.696066  1.042764
2019-05-29  0.845787  0.103135  0.067072  0.073396
2019-05-30  1.348623 -0.252894  1.278587 -0.221836
2019-05-31  0.696398  1.335609 -0.060052  0.392696
2019-06-01 -0.341848 -1.014179 -0.799671 -1.022143
2019-06-02  0.980386  2.128926 -2.593222 -0.052735
2019-06-03 -1.083067  0.643600 -0.242875 -0.471142
DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-01',
               '2019-06-02', '2019-06-03'],
              dtype='datetime64[ns]', freq='D')
[[ 0.9391204  -0.51046772  0.77774232  0.33856075]
 [ 1.17514984 -1.9443939  -0.5556469  -0.02998618]
 [-2.14552265 -0.44482599 -0.32375405  0.44762682]
 [ 1.0448434   0.35195367 -0.69606598  1.04276389]
 [ 0.84578702  0.10313463  0.0670719   0.0733957 ]
 [ 1.34862284 -0.25289363  1.27858652 -0.22183591]
 [ 0.69639781  1.33560946 -0.06005236  0.39269642]
 [-0.34184802 -1.01417939 -0.79967135 -1.02214283]
 [ 0.98038599  2.12892649 -2.59322189 -0.05273528]
 [-1.08306667  0.64360008 -0.24287505 -0.47114177]]

In [28]:
print(df.describe())
print(df.mean(0))
print(df.mean(1))
print(df.head())
print(df.tail())

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.345987   0.039646  -0.314789   0.049720
std     1.156190   1.163368   1.031621   0.563409
min    -2.145523  -1.944394  -2.593222  -1.022143
25%    -0.082287  -0.494057  -0.660961  -0.179561
50%     0.892454  -0.074880  -0.283315   0.021705
75%     1.028729   0.570688   0.035291   0.379163
max     1.348623   2.128926   1.278587   1.042764
A    0.345987
B    0.039646
C   -0.314789
D    0.049720
dtype: float64
2019-05-25    0.386239
2019-05-26   -0.338719
2019-05-27   -0.616619
2019-05-28    0.435874
2019-05-29    0.272347
2019-05-30    0.538120
2019-05-31    0.591163
2019-06-01   -0.794460
2019-06-02    0.115839
2019-06-03   -0.288371
Freq: D, dtype: float64
                   A         B         C         D
2019-05-25  0.939120 -0.510468  0.777742  0.338561
2019-05-26  1.175150 -1.944394 -0.555647 -0.029986
2019-05-27 -2.145523 -0.444826 -0.323754  0.447627
2019-05-28  1.044843  0.351954 -0.696066  1.042764
2019-05-29  0.845787  0.103135  0.067072  0.073396
                   A         B         C         D
2019-05-30  1.348623 -0.252894  1.278587 -0.221836
2019-05-31  0.696398  1.335609 -0.060052  0.392696
2019-06-01 -0.341848 -1.014179 -0.799671 -1.022143
2019-06-02  0.980386  2.128926 -2.593222 -0.052735
2019-06-03 -1.083067  0.643600 -0.242875 -0.471142

In [29]:
print(df["A"])
print(df.A)

2019-05-25    0.939120
2019-05-26    1.175150
2019-05-27   -2.145523
2019-05-28    1.044843
2019-05-29    0.845787
2019-05-30    1.348623
2019-05-31    0.696398
2019-06-01   -0.341848
2019-06-02    0.980386
2019-06-03   -1.083067
Freq: D, Name: A, dtype: float64
2019-05-25    0.939120
2019-05-26    1.175150
2019-05-27   -2.145523
2019-05-28    1.044843
2019-05-29    0.845787
2019-05-30    1.348623
2019-05-31    0.696398
2019-06-01   -0.341848
2019-06-02    0.980386
2019-06-03   -1.083067
Freq: D, Name: A, dtype: float64

In [31]:
print(df[["A","B"]])
print(df[2:4])
print(df.iloc[2:4])


print(df[(df.A >0) & (df.B>0)])

                   A         B
2019-05-25  0.939120 -0.510468
2019-05-26  1.175150 -1.944394
2019-05-27 -2.145523 -0.444826
2019-05-28  1.044843  0.351954
2019-05-29  0.845787  0.103135
2019-05-30  1.348623 -0.252894
2019-05-31  0.696398  1.335609
2019-06-01 -0.341848 -1.014179
2019-06-02  0.980386  2.128926
2019-06-03 -1.083067  0.643600
                   A         B         C         D
2019-05-27 -2.145523 -0.444826 -0.323754  0.447627
2019-05-28  1.044843  0.351954 -0.696066  1.042764
                   A         B         C         D
2019-05-27 -2.145523 -0.444826 -0.323754  0.447627
2019-05-28  1.044843  0.351954 -0.696066  1.042764
                   A         B         C         D
2019-05-28  1.044843  0.351954 -0.696066  1.042764
2019-05-29  0.845787  0.103135  0.067072  0.073396
2019-05-31  0.696398  1.335609 -0.060052  0.392696
2019-06-02  0.980386  2.128926 -2.593222 -0.052735

In [34]:
data = {"name" : ["Janet","Nad","Timothy","June","Amy"],
       "year" : [2012,2012,2013,2014,2014],
       "reports" : [6,13,14,1,7]}

df = pd.DataFrame(data, index = ["Singapore","China","Japan","Sweden","Norway"])

print(df)
print()
schools = np.array(["Cambridge","Oxford","Oxford","Cambridge","Oxford"])
df["school"] = schools
print(df)

              name  year  reports
Singapore    Janet  2012        6
China          Nad  2012       13
Japan      Timothy  2013       14
Sweden        June  2014        1
Norway         Amy  2014        7

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
China          Nad  2012       13     Oxford
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

In [36]:
print(df.drop(["China","Japan"]))

            name  year  reports     school
Singapore  Janet  2012        6  Cambridge
Sweden      June  2014        1  Cambridge
Norway       Amy  2014        7     Oxford

In [38]:
print(df[df.name != "Nad"])

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

In [41]:
print(df.drop("reports", axis = 1))

              name  year     school
Singapore    Janet  2012  Cambridge
China          Nad  2012     Oxford
Japan      Timothy  2013     Oxford
Sweden        June  2014  Cambridge
Norway         Amy  2014     Oxford